/*     Base Styles     */
html {
  background-color: #FDF7FF;
}
header {
  background-color: #cc00ff;
  height: 8vh;
  margin-top: 0;
}
main {
  margin: 0 15px;
}
h1 {
  font-family: fantasy;
  color: papayawhip;
  font-size: 1.25em;
}
h2 {
  font-family: copperplate;
  font-size: 1.2rem;
}
div#signup {
  border-bottom: double 5px purple;
  max-width: 375px;
  margin: auto;
}
div#signup p {
  padding: 5px 15px 0 15px;
  text-align: center;
}
h2 {
  text-align: center;
}
legend {
  padding-top: 16px;
  padding-bottom: 8px;
  font-family: 'Dela Gothic One', cursive;
  font-size: 0.8em;
}
input#name ,
input#email ,
input#phone-num ,
input#address ,
input#city ,
select#province ,
input#postal ,
textarea {
  margin-bottom: 11px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 6px;
  background-color: #F6DDFF;
}
input#postal {
  max-width: 65px;
}
select#province {
  font-family: copperplate;
  font-size: .9rem;
}
option {
  font-family: 'Dela Gothic One', cursive;
  font-size: .8em;
}
fieldset {
  border: none;
  padding: 0;
  margin: auto 0;
}
fieldset:first-child {
  padding-top: 12px;
}
textarea {
  height: 15vh;
  width: 99%;
}
label {
  display: block;
  font-size: 12px;
  font-family: sans-serif;
  color: #969696;
  margin-bottom: 7px;
}
button {
  width: 100%;
  margin-top: 5px;
  background-color: #3E0253;
  color: white;
  font-family: cursive;
  border-radius: 5px;
  height: 8vh;
}
aside {
  padding: 0 10px;
}
p {
  font-family: fantasy;
  font-size: .8rem;
}
footer p {
  text-align: center;
  padding-top: 15px;
}
#signup p {
  margin-top: -10px;
  margin-bottom: 1.5em;
  font-weight: lighter;
}

/*     Class Selectors     */
.header-flex {
  display: flex;
  justify-content: center;
}
.main-form {
  margin: 3px auto;
  max-width: 375px;
}
.container ,
.container2 ,
.container3 ,
.container4 ,
.container5  {
  display: flex;
  padding-bottom: 5px;
}
.button-label1 ,
.button-label2 ,
.button-label3 ,
.button-label4 ,
.button-label5 {
  padding-left: 7px;
}
.copyright {
  text-align: center;
  font-family: fantasy;
  padding-top: 7px;
}
input::placeholder {
  color: red;
  text-align: right;
  font-style: italic;
  font-size: .5em;
}

input:focus , section:focus , textarea:focus , button:focus {
  outline-color: purple;
  opacity: 0.45;
  transition: all 1.5s ease;
}

/*     Media Queries     */
@media screen and (min-width: 768px) {
    aside {
      padding: 0;
    }
    .contact-container ,
    .contact-container2 ,
    .contact-container3 ,
    .contact-container4 ,
    .contact-container5 ,
    .contact-container6 ,
    .contact-container7 {
      display: flex;
    }
    label[for=name] ,
    label[for=email] ,
    label[for=phone-num] ,
    label[for=address] ,
    label[for=city] ,
    label[for=province] {
      margin-right: auto;
      padding-top: 6px;
    }
    label[for=postal] {
      margin-right: 85px;
      padding-top: 6px;
    }
    input#name ,
    input#email ,
    input#phone-num ,
    input#address ,
    input#city ,
    select#province {
      max-width: 225px;
      padding: 0;
      height: 25px;
    }
    input#postal {
      padding: 0;
      height: 25px;
    }
}
