/*     Base Styles     */
header ,
footer {
  background-color: #cc00ff;
  height: 10vh;
  margin-top: none;
}
main {
  margin: 0 15px;
}
h1 {
  font-family: fantasy;
  color: papayawhip;
  font-size: 1.25em;
}
h2 {
  font-family: copperplate;
  font-size: 1.2rem;
}
div#signup {
  border-bottom: double 5px purple;
}
h2 ,
div {
  text-align: center;
}
legend {
  padding-top: 16px;
  padding-bottom: 8px;
  font-family: 'Dela Gothic One', cursive;
  font-size: 0.8em;
}
fieldset:first-child {
  padding-top: 12px;
}
input#name ,
input#email ,
input#phone-num ,
input#address ,
input#city ,
select#province ,
input#postal ,
textarea {
  margin-bottom: 11px;
  width: 100%;
  height: auto;
  border: none;
  border-radius: 6px;
  background-color: #F6DDFF;
}
input#postal {
  max-width: 65px;
}
fieldset {
  border: none;
  padding: 0;
}
textarea {
  height: 15vh;
}
label {
  display: block;
  font-size: 12px;
  font-family: sans-serif;
  color: #969696;
  margin-bottom: 7px;
}
button {
  width: 100%;
  margin-top: 5px;
  background-color: #3E0253;
  color: white;
  font-family: cursive;
  border-radius: 5px;
  height: 8vh;
}
aside {
  padding: 0 10px;
}
p {
  font-family: fantasy;
  font-size: .8rem;
}
footer p {
  text-align: center;
  padding-top: 15px;
}
#signup p {
  margin-top: -10px;
  margin-bottom: 1.5em;
  font-weight: lighter;
}

/*     Class Selectors     */
.header-flex {
  display: flex;
  justify-content: center;
}
.main-form {
  margin: 3px auto;
  max-width: 375px;
}
.container ,
.container2 ,
.container3 ,
.container4 ,
.container5  {
  display: flex;
  padding-bottom: 5px;
}
.button-label1 ,
.button-label2 ,
.button-label3 ,
.button-label4 ,
.button-label5 {
  padding-left: 7px;
}
.copyright {
  text-align: center;
  font-family: fantasy;
  padding-top: 7px;
}
input::placeholder {
  color: red;
  text-align: right;
  font-style: italic;
  font-size: .5em;
}

input:focus , section:focus , textarea:focus , button:focus {
  outline-color: purple;
  opacity: 0.45;
}

/*     Media Queries     */

@media screen and (min-width: 768px) {

}
